html, body, .center {
    height: 100%;
    overflow-y: hidden;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.number {
    font-size: 72pt;
}

button {
    font-size: 36pt;
    width: 50px;
}